@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    border: none;
    outline: none;
    background: none;
}

.theme-light {
    background: white;
    color: gray;
    transition: all 1s ease;
}

.theme-dark {
    background: gray;
    color: white;
    transition: all 1s ease;
}